@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.light-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-shadow: 2px 2px 4px var(--shadow-color);
}

.bold-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    text-shadow: 2px 2px 4px var(--shadow-color);
}

:root {
    --primary-color: #014776;
    --secondary-color: #9fc750;
    --background-color: #8d8d8d;
    --text-color: #ffebcd;
    --shadow-color: rgba(0, 0, 0, 0.3);
}

body {
    background-color: var(--primary-color);
    margin: 0;
    padding: 0;
}

/* ------------------------------------------------------------------------------------ NAVBAR */

.navbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    background-color: white;
    color: rgb(0, 0, 0);
    box-shadow: -4px 0 10px var(--shadow-color);
    width: 100%;
    z-index: 99;
}

.logo-container {
    display: flex;
    align-items: center;
    padding-top: 5px;
}

.logo-navbar {
    height: 30px;
    width: auto;
    margin: 5px;
    padding-left: 10px;
    user-select: none;
    pointer-events: none;
}

.menu-nav {
    display: none;
}

/* --------------------------------- MENU HAMBURGESA*/

.burger-menu-icon {
    position: absolute;
    top: 8px;
    right: 20px;
    font-size: 32px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    z-index: 100;
}

.mobile-nav-menu {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    width: 56%;
    height: 100%;
    background-color: white;
    padding-top: 80px;
    box-shadow: -4px 0 10px rgba(0, 0, 0, 0.3);
    transform: translateX(100%);
    transition: transform 0.3s ease;
    z-index: 98;
}

.mobile-nav-menu.open {
    transform: translateX(0);
}

.mobile-nav-menu ul {
    list-style: none;
}

.mobile-nav-menu li {
    text-align: end;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-right: 25px;
    cursor: pointer;
}

.close-menu-icon {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    z-index: 100;
}

.link-container:hover {
    background: linear-gradient(95deg, rgba(255, 255, 255, 0), #9fc750 100%, #63802b);
}

/* --------- ESTILOS PARA LINKS*/

.menu-nav li a,
.burger-menu-nav li a {
    text-decoration: none;
    color: black;
}

.menu-nav li a:hover {
    color: #9fc750;
}

.menu-nav li a.active,
.burger-menu-nav li a.active {
    font-weight: bold;
}

/* -------------------------------------------------------------------------- LADING PAGE */

/* --------------------------------- SECTION 1 LANDING*/

.section-1-container {
    position: relative;
    overflow: hidden;
    padding-top: 20px;
}

.section-1-container::before {
    content: '';
    position: absolute;
    height: 600px;
    width: 600px;
    background-image: url('/src/assets/images/imagen section 1 landing.webp');
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    opacity: 0.2;
    z-index: -1;
}

.section-1-titulo {
    color: var(--text-color);
    padding: 0 20px;
    padding-top: 30px;
}

.section-1-titulo h1,
.section-1-titulo h2,
.section-1-icono h3 {
    margin: 0;
}

.section-1-titulo h1 {
    font-size: 25px;
    padding-bottom: 10px;
}

.section-1-titulo h2 {
    font-size: 18px;
    padding-bottom: 10px;
}

.section-1-icono-2 {
    display: none;
}

.section-1-img {
    display: none;
}

.section-1-icono {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    gap: 10px;
    padding-bottom: 20px;
}

.section-1-icono img {
    width: 60px;
}

.section-1-icono h3 {
    font-size: 16px;
}

/* --------------------------------- SECTION 2 LANDING*/

.section-2-container {
    background-color: var(--secondary-color);
    margin-top: -18px;
}

/* -------------------------------------------------------------------------- FORM */

.form {
    padding: 20px 20px;
}

.campos-obligatorios {
    text-align: end;
    color: var(--text-color);
}

.campos-obligatorios p {
    margin: 0;
    padding-bottom: 10px;
}

.campo-precalificar-form select,
.campo-precalificar-form input {
    padding-left: 10px;
    padding-right: 10px;
}

.campo-precalificar-form {
    display: flex;
    flex-direction: column;
    color: var(--text-color);
}

.form-control {
    border-radius: 16px;
    padding: 5px 0;
    margin-bottom: 15px;
    background-color: white;
    border: none;
}

.text-danger {
    color: #eb0808;
    padding: 0;
    margin: 0;
    margin-top: -16px;
}

.envio-form-container {
    display: flex;
    align-items: center;
}

.botonForm {
    display: inline-block;
    text-align: center;
    cursor: pointer;
    border-color: #ffffff;
    padding: 6px 13px;
    line-height: 1.5;
    border-radius: 16px;
    color: #ffffff;
    background: none;
    box-shadow: -4px 0 10px rgba(0, 0, 0, 0.2);
}

.spinner-container {
    margin-left: 10px;
}

/* ------------------------------------------------------------------------------------ FOOTER */

.footer {
    background-color: white;
    text-align: center;
    padding: 10px 0;
}

.logo-footer {
    height: 15px;
    user-select: none;
    pointer-events: none;
}

@media (min-width: 576px) {
    /* ------------------------------------------------------------------------------------ NAVBAR */
    .logo-navbar {
        height: 40px;
        padding-left: 30px;
    }

    /* --------------------------------- MENU HAMBURGESA*/

    .burger-menu-icon {
        top: 12px;
        right: 40px;
        font-size: 35px;
    }

    .mobile-nav-menu {
        width: 40%;
        font-size: 20px;
    }

    .mobile-nav-menu li {
        padding-right: 40px;
    }

    /* -------------------------------------------------------------------------- LADING PAGE */

    /* --------------------------------- SECTION 1 LANDING*/

    .section-1-container::before {
        margin-left: 150px;
    }

    .section-1-titulo {
        padding: 0 40px;
        padding-top: 30px;
    }

    .section-1-titulo h1 {
        font-size: 30px;
    }

    .section-1-titulo h2 {
        font-size: 20px;
    }

    .section-1-icono img {
        width: 70px;
    }

    /* --------------------------------- SECTION 2 LANDING*/

    .section-2-container {
        margin-top: -26px;
    }

    /* -------------------------------------------------------------------------- FORM */

    .form {
        padding: 30px 40px;
    }

    .botonForm {
        padding: 4px 20px;
        font-size: 16px;
    }

    /* ------------------------------------------------------------------------------------ FOOTER */

    .logo-footer {
        height: 18px;
    }
}

@media (min-width: 768px) {
    /* ------------------------------------------------------------------------------------ NAVBAR */

    .logo-navbar {
        height: 30px;
        padding-left: 10px;
    }

    .menu-nav {
        display: flex;
        list-style: none;
        gap: 5px;
        align-items: center;
        margin: 0;
        padding-right: 10px;
        font-size: 16px;
    }

    .linea-separadora {
        margin-left: 5px;
        user-select: none;
    }

    .burger-menu {
        display: none;
    }

    /* -------------------------------------------------------------------------- LADING PAGE */

    /* --------------------------------- SECTION 1 LANDING*/

    .section-1-container {
        padding-top: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .section-1-container::before {
        background-image: none;
    }

    .section-1-titulo {
        padding: 0 10px;
        padding-top: 30px;
    }

    .section-1-titulo h1 {
        font-size: 25px;
        padding-bottom: 20px;
    }

    .section-1-titulo h2 {
        font-size: 18px;
        padding-bottom: 20px;
    }

    .section-1-icono-2 {
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 10px;
        padding-top: 20px;
    }

    .section-1-icono-2 img {
        width: 50px;
    }

    .section-1-icono-2 h3 {
        font-size: 16px;
        margin: 0;
    }

    .section-1-img {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        padding-top: 45px;
        padding-left: 90px;
        padding-right: 110px;
    }

    .img-1-section-1 {
        position: absolute;
        user-select: none;
        pointer-events: none;
        width: 300px;
        height: auto;
        z-index: 2;
    }

    .img-2-section-1 {
        position: absolute;
        user-select: none;
        pointer-events: none;
        width: 500px;
        height: auto;
        z-index: 1;
    }

    .section-1-icono {
        display: none;
    }

    /* --------------------------------- SECTION 2 LANDING*/

    .section-2-container {
        margin-top: -18px;
    }

    /* -------------------------------------------------------------------------- FORM */

    .form {
        padding: 20px 20px;
        z-index: 3;
        width: 210px;
    }

    .campos-obligatorios p {
        font-size: 12px;
    }

    /* ------------------------------------------------------------------------------------ FOOTER */

    .logo-footer {
        height: 20px;
    }
}

@media (min-width: 992px) {
    /* ------------------------------------------------------------------------------------ NAVBAR */

    .logo-navbar {
        height: 40px;
        padding-left: 35px;
    }

    .menu-nav {
        gap: 10px;
        padding-right: 35px;
        font-size: 19px;
    }

    .linea-separadora {
        margin-left: 10px;
    }

    /* -------------------------------------------------------------------------- LADING PAGE */

    /* --------------------------------- SECTION 1 LANDING*/

    .section-1-titulo {
        padding: 0 10px;
        padding-top: 40px;
        margin-right: 50px;
    }

    .section-1-titulo h1 {
        font-size: 40px;
        padding-bottom: 20px;
    }

    .section-1-titulo h2 {
        font-size: 22px;
        padding-bottom: 40px;
    }

    .section-1-icono-2 {
        gap: 20px;
        padding-top: 40px;
        padding-bottom: 20px;
    }

    .section-1-icono-2 img {
        width: 70px;
    }

    .section-1-icono-2 h3 {
        font-size: 18px;
    }

    .section-1-img {
        padding-top: 20px;
        padding-left: 90px;
        padding-right: 160px;
    }

    .img-1-section-1 {
        width: 400px;
    }

    .img-2-section-1 {
        width: 500px;
    }

    /* --------------------------------- SECTION 2 LANDING*/

    .section-2-container {
        margin-top: -19px;
    }

    /* -------------------------------------------------------------------------- FORM */

    .form {
        padding: 20px 20px;
        z-index: 3;
        width: 250px;
        margin-top: 60px;
        margin-bottom: 20px;
    }

    .campos-obligatorios p {
        font-size: 12px;
    }

    /* ------------------------------------------------------------------------------------ FOOTER */

    .logo-footer {
        height: 23px;
    }
}

@media (min-width: 1200px) {
    /* ------------------------------------------------------------------------------------ NAVBAR */

    .logo-navbar {
        height: 50px;
        padding-left: 65px;
    }

    .menu-nav {
        gap: 13px;
        padding-right: 60px;
        font-size: 22px;
    }

    .linea-separadora {
        margin-left: 13px;
    }

    /* -------------------------------------------------------------------------- LADING PAGE */

    /* --------------------------------- SECTION 1 LANDING*/

    .section-1-titulo {
        padding-top: 40px;
        margin-right: 50px;
    }

    .section-1-titulo h1 {
        font-size: 50px;
        padding-bottom: 30px;
    }

    .section-1-titulo h2 {
        font-size: 24px;
        padding-bottom: 50px;
    }

    .section-1-icono-2 {
        gap: 20px;
        padding-top: 50px;
        padding-bottom: 20px;
    }

    .section-1-icono-2 img {
        width: 80px;
    }

    .section-1-icono-2 h3 {
        font-size: 18px;
    }

    .section-1-img {
        padding-top: 20px;
        padding-left: 150px;
        padding-right: 200px;
    }

    .img-1-section-1 {
        width: 400px;
    }

    .img-2-section-1 {
        width: 500px;
    }

    /* --------------------------------- SECTION 2 LANDING*/

    .section-2-container {
        margin-top: -23px;
    }

    /* -------------------------------------------------------------------------- FORM */

    .form {
        padding: 20px 20px;
        z-index: 3;
        width: 350px;
        margin-top: 60px;
        margin-bottom: 20px;
    }

    .campos-obligatorios p {
        font-size: 12px;
    }

    /* ------------------------------------------------------------------------------------ FOOTER */

    .logo-footer {
        height: 26px;
    }
}

@media (min-width: 1400px) {
    /* ------------------------------------------------------------------------------------ NAVBAR */

    .logo-navbar {
        height: 70px;
        padding-left: 75px;
    }

    .menu-nav {
        gap: 16px;
        padding-right: 80px;
        font-size: 24px;
    }

    .linea-separadora {
        margin-left: 16px;
    }

    /* -------------------------------------------------------------------------- LADING PAGE */

    /* --------------------------------- SECTION 1 LANDING*/

    .section-1-titulo {
        padding-top: 60px;
        margin-right: 80px;
    }

    .section-1-titulo h1 {
        font-size: 60px;
        padding-bottom: 40px;
    }

    .section-1-titulo h2 {
        font-size: 28px;
        padding-bottom: 60px;
    }

    .section-1-icono-2 {
        gap: 30px;
        padding-top: 60px;
        padding-bottom: 30px;
    }

    .section-1-icono-2 img {
        width: 90px;
    }

    .section-1-icono-2 h3 {
        font-size: 22px;
    }

    .section-1-img {
        padding-top: 20px;
        padding-left: 100px;
        padding-right: 200px;
    }

    .img-1-section-1 {
        width: 500px;
    }

    .img-2-section-1 {
        width: 600px;
    }

    /* --------------------------------- SECTION 2 LANDING*/

    .section-2-container {
        margin-top: -24px;
    }

    /* -------------------------------------------------------------------------- FORM */

    .form {
        padding: 20px 20px;
        z-index: 3;
        width: 400px;
        margin-top: 60px;
        margin-bottom: 20px;
    }

    .campos-obligatorios p {
        font-size: 12px;
    }

    /* ------------------------------------------------------------------------------------ FOOTER */

    .logo-footer {
        height: 30px;
    }
}

@media (min-width: 1700px) {
    /* ------------------------------------------------------------------------------------ NAVBAR */

    .logo-navbar {
        height: 80px;
        padding-left: 130px;
    }

    .menu-nav {
        gap: 19px;
        padding-right: 150px;
        font-size: 28px;
    }

    .linea-separadora {
        margin-left: 19px;
    }

    /* -------------------------------------------------------------------------- LADING PAGE */

    /* --------------------------------- SECTION 1 LANDING*/

    .section-1-titulo {
        padding-top: 70px;
        margin-right: 80px;
    }

    .section-1-titulo h1 {
        font-size: 70px;
        padding-bottom: 5cqi;
    }

    .section-1-titulo h2 {
        font-size: 30px;
        padding-bottom: 70px;
    }

    .section-1-icono-2 {
        gap: 40px;
        padding-top: 60px;
        padding-bottom: 30px;
    }

    .section-1-icono-2 img {
        width: 100px;
    }

    .section-1-icono-2 h3 {
        font-size: 24px;
    }

    .section-1-img {
        padding-top: 60px;
        padding-left: 200px;
        padding-right: 300px;
    }

    .img-1-section-1 {
        width: 600px;
    }

    .img-2-section-1 {
        width: 600px;
    }

    /* --------------------------------- SECTION 2 LANDING*/

    .section-2-container {
        margin-top: -18px;
    }

    /* -------------------------------------------------------------------------- FORM */

    .form {
        padding: 20px 20px;
        z-index: 3;
        width: 450px;
        margin-top: 60px;
        margin-bottom: 20px;
    }

    .form-control {
        padding: 10px 0;
        font-size: 16px;
    }

    .campos-obligatorios p {
        font-size: 14px;
    }

    .envio-form-container {
        padding-top: 20px;
    }

    /* ------------------------------------------------------------------------------------ FOOTER */

    .logo-footer {
        height: 35px;
    }
}
